<form class="form-horizontal" role="form">
	<div class="row">
		<div class="col-md-9">
			<div class="well app-header text-center"><h4><strong>REQUEST OF CERTIFICATION</strong></h4></div>
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h4><strong>INFORMATION OF EMPLOYEE</strong></h4></div>
				<div class="panel-body">

						<div class="form-group">
							<label class="col-sm-1 control-label">Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">English</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-1 control-label">Batch</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">Employed</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">Resigned</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="well">
							<div class="form-group">
								<label class="col-sm-12 text-center">Please mark with check.</label>
							</div>
							<div class="form-group">
								<label class="col-sm-6 text-center">Certification of Employment</label>
								<label class="col-sm-6 text-center">Proof of Government Mandatory</label>
							</div>
							<div class="form-group">
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" />
										</span>
										<input type="text" class="form-control" readonly value="Position">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" />
										</span>
										<input type="text" class="form-control" readonly value="SSS">
									</div>
								</div>
							</div><div class="form-group">
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" />
										</span>
										<input type="text" class="form-control" readonly value="Length of Stay">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" />
										</span>
										<input type="text" class="form-control" readonly value="Pag-ibig">
									</div>
								</div>
							</div><div class="form-group">
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" />
										</span>
										<input type="text" class="form-control" readonly value="Salary and Payment Slip">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" />
										</span>
										<input type="text" class="form-control" readonly value="Philhealth">
									</div>
								</div>
							</div><div class="form-group">
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" />
										</span>
										<input type="text" class="form-control" readonly value="Performance">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" />
										</span>
										<input type="text" class="form-control" readonly value="ITR">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">If others</label>
								<div class="col-sm-11">
									<input type="text" class="form-control" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Reason</label>
							<div class="col-sm-9">
								<textarea class="form-control" row="5"></textarea>
							</div>
						</div>

						<div class="well">
							<div class="form-group">
								<label class="text-center col-sm-12 app-black">Name and Address of the Company or Person Who Should Receive the Certification</label>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<label class="col-sm-12 text-center">Name</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" .>
									</div>
								</div>
								<div class="col-sm-8">
									<label class="col-sm-12 text-center">Address</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" .>
									</div>
								</div>
							</div>
						</div>
						

					
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading text-center app-black"><strong>FORM INFORMATION</strong></div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-sm-4">Date:</label>
						<div class="col-sm-8">Nov. 27, 2014</div>
					</div>
					<br />
					<div class="form-group">
						<label class="text-center col-sm-12">E-mail Address</label>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="email" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<a ng-href="#/" class="btn btn-block btn-lg btn-danger">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>