<form class="form-horizontal" name="leaveForm"  role="form">
	<div class="row">
		<div class="col-md-9">
			<div class="well app-header text-center"><h4><strong>REQUEST OF LEAVE</strong></h4></div>
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h4><strong>INFORMATION OF EMPLOYEE</strong></h4></div>
				<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-1 control-label">{{fields.name}}</label>
							<div class="col-sm-7">
								<input type="text" name="name" ng-model="form.applicant_name" class="form-control" required />
							</div>
							<label class="col-sm-1 control-label">{{fields.field_1}}</label>
							<div class="col-sm-3">
								<input type="text" ng-model="form.field_1" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-1 control-label">{{fields.field_2}}</label>
							<div class="col-sm-3">
								<input type="text" ng-model="form.field_2" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">{{fields.field_3}}</label>
							<div class="col-sm-3">
								<input type="text" ng-model="form.field_3" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">{{fields.field_4}}</label>
							<div class="col-sm-3">
								<input type="text" ng-model="form.field_4" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-6 text-center">Particular</label>
							<label class="col-sm-6 text-center">Date and Time</label>
						</div>

						<div class="form-group">
							<label class="col-sm-6 control-label">{{fields.field_5}}</label>
							<div class="col-sm-6">
								<input type="text"  ng-model="form.field_5" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">{{fields.field_6}}</label>
							<div class="col-sm-6">
								<input type="text"  ng-model="form.field_6" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">{{fields.field_7}}</label>
							<div class="col-sm-6">
								<input type="text"  ng-model="form.field_7" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">{{fields.field_8}}</label>
							<div class="col-sm-6">
								<input type="text"  ng-model="form.field_8" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">{{fields.field_9}}</label>
							<div class="col-sm-6">
								<input type="text"  ng-model="form.field_9" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">{{fields.field_10}}</label>
							<div class="col-sm-6">
								<input type="text"  ng-model="form.field_10" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">{{fields.tfield_1}}</label>
							<div class="col-sm-9">
								<textarea class="form-control" row=3  ng-model="form.tfield_1"></textarea>
							</div>
						</div>

				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading text-center app-black"><strong>FORM INFORMATION</strong></div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-sm-4">Date:</label>
						<div class="col-sm-8">Nov. 27, 2014</div>
					</div>
					<br />
					<div class="form-group">
						<label class="text-center col-sm-12">{{fields.email}}</label>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="email" name="email" ng-model="form.applicant_email" class="form-control" required />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="submit()" ng-disabled="leaveForm.$invalid">Submit</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<a ng-href="#/" class="btn btn-block btn-lg btn-danger">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
