<div class="container front-page">
  <div class="row">
    <div class="col-md-4">
      <a href="#part-time">
      <div class="panel panel-default center-block">
        <div class="panel-body">
          <img src="images/Down-Arrow-Icon.jpg" class="img-rounded img-responsive center-block" />
        </div>
        <div class="panel-footer text-center"><strong>Undertaking for Part Time</strong></div>
      </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#employment">
      <div class="panel panel-default center-block">
        <div class="panel-body">
          <img src="images/cert.jpg" class="img-rounded img-responsive center-block" />
        </div>
        <div class="panel-footer text-center"><strong>Certificate of Employment</strong></div>
      </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#permission">
      <div class="panel panel-default center-block">
        <div class="panel-body">
          <img src="images/intranet_socis.png" class="img-rounded img-responsive center-block" />
        </div>
        <div class="panel-footer text-center"><strong>Request of Permission</strong></div>
      </div>
      </a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <a ng-href="#/leave">
      <div class="panel panel-default center-block">
        <div class="panel-body">
          <img src="images/leave.jpg" class="img-rounded img-responsive center-block" />
        </div>
        <div class="panel-footer text-center"><strong>Request of Leave</strong></div>
      </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#certification">
      <div class="panel panel-default center-block">
        <div class="panel-body">
          <img src="images/Icon_Path_lg.png" class="img-rounded img-responsive center-block" />
        </div>
        <div class="panel-footer text-center"><strong>Request of Certification</strong></div>
      </div>
      </a>
    </div>
  </div>
</div>
