<form class="form-horizontal" role="form">
	<div class="row">
		<div class="col-md-9">
			<div class="well app-header text-center"><h4><strong>UNDERTAKING PART TIME</strong></h4></div>
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h4><strong>INFORMATION OF EMPLOYEE</strong></h4></div>
				<div class="panel-body">

						<div class="form-group">
							<label class="col-sm-1 control-label">Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">English</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-1 control-label">Batch</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">Section</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">Position</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Address</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Contact No.</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Time (KT)</label>
							<label class="col-sm-1 control-label">From</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">To</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Working Day</label>
							<label class="col-sm-1 control-label">Every</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Duration</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">From</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" />
							</div>
						</div>
						

					
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading text-center app-black"><strong>FORM INFORMATION</strong></div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-sm-4">Date:</label>
						<div class="col-sm-8">Nov. 27, 2014</div>
					</div>
					<br />
					<div class="form-group">
						<label class="text-center col-sm-12">E-mail Address</label>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="email" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<a ng-href="#/" class="btn btn-block btn-lg btn-danger">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>