<form class="form-horizontal" role="form">
	<div class="row">
		<div class="col-md-9">
			<div class="well app-header text-center"><h4><strong>REQUEST OF PERMISSION</strong></h4></div>
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h4><strong>INFORMATION OF EMPLOYEE</strong></h4></div>
				<div class="panel-body">

						<div class="form-group">
							<label class="col-sm-1 control-label">Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">English</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-1 control-label">Department</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" />
							</div>
							<label class="col-sm-1 control-label">Position</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4">
								<label class="col-sm-12 text-center">Overtime Work</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" .>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="col-sm-12 text-center">Date and Time</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" .>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Reason</label>
							<div class="col-sm-9">
								<textarea class="form-control" row="5"></textarea>
							</div>
						</div>
						

					
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading text-center app-black"><strong>FORM INFORMATION</strong></div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-sm-4">Date:</label>
						<div class="col-sm-8">Nov. 27, 2014</div>
					</div>
					<br />
					<div class="form-group">
						<label class="text-center col-sm-12">E-mail Address</label>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="email" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<a ng-href="#/" class="btn btn-block btn-lg btn-danger">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>